/*---------------------*/
/* FONTS
/*---------------------*/
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/lato/lato-italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/lato/lato-bold-italic.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/lato/lato-regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/lato/lato-bold.woff2") format("woff2");
}

/*---------------------*/
/* GLOBAL
/*---------------------*/
body {
  background-color: #c21e1d;
  color: #ffffff;
  font-family: Lato, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
}

a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  margin: auto;
  width: 960px;
}

/*---------------------*/
/* HEADER
/*---------------------*/
.header {
  background-color: #c21e1d;
  text-align: left;
}

.header h1 {
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 5px;
  position: relative;
}

.header h1:before,
.header h1:after {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 141px;
  position: absolute;
  top: 0;
  width: 137px;
}

.header h1:before {
  background-image: url("/static/images/head-left.png");
  left: 0;
}

.header h1:after {
  background-image: url("/static/images/head-right.png");
  right: 0;
}

.header h1 a {
  background-image: url("/static/images/alhambra.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999px;
  width: 550px;
}

.header h2 {
  background-image: url("/static/images/musikundkultur.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999px;
  width: 669px;
}

/*---------------------*/
/* CONTENT
/*---------------------*/
.content {
  margin-top: 55px;
  margin-bottom: 30px;
}

.content .doors {
  position: relative;
}

.content .doors:before {
  background-image: url("/static/images/illuminated-advertising.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 38px;
  margin: 0 auto;
  width: 257px;
}

.content .doors a {
  background-image: url("/static/images/doors-closed.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 180px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999px;
  width: 136px;
}

.content .doors a:hover {
  background-image: url("/static/images/doors-open.jpg");
}

.content .events {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  width: 620px;
}

.table {
  padding-bottom: 1em;
  width: 100%;
}

.table .row {
  display: flex;
  padding-top: 1em;
}

.table .cell {
  flex: 1;
  padding: 0px 2px;
  width: 50%;
}

.table .cell.event-date {
  text-align: left;
  font-weight: bold;
}

.table .cell.event-date span {
  display: block;
  font-weight: normal;
}

.table .cell.event-title {
  text-align: right;
}

.table .event-description {
  border-color: #fff;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  display: block;
  padding-left: 1em;
  margin-left: 0.5em;
  text-align: left;
}

.table .event-description p {
  margin: 0.5em 0em;
}

.content .email {
  left: -1px;
  position: relative;
}

/*---------------------*/
/* FOOTER
/*---------------------*/
.footer {
  padding: 5px 10px;
  text-align: center;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

.footer ul li {
  display: inline-block;
  margin: 0 15px;
}

/*---------------------*/
/* INDEX PAGE STYLE
/*---------------------*/
body.index {
  text-align: center;
}

/*---------------------*/
/* ERROR PAGE STYLE
/*---------------------*/
body.error {
  text-align: center;
}

body.error .header h1:before,
body.error .header h1:after,
body.error .header h2 {
  display: none;
}

/*---------------------*/
/* MEDIA QUERIES
/*---------------------*/
@media only screen and (max-width: 959px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 760px;
  }

  .content .events {
    width: 500px;
  }

  .header h1:before,
  .header h1:after {
    width: 120px;
    height: 125px;
  }

  .header h2 {
    width: 500px;
    height: 28px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    width: auto;
    margin: 0 20px;
  }

  .content .events {
    width: 350px;
  }

  .header h1:before,
  .header h1:after,
  .header h2 {
    display: none;
  }

  .header h1 a {
    width: 280px;
    height: 50px;
  }
}
