{% extends "layout.html" %}

{% block content %}
  {% block before_events %}{% endblock %}
  <div class="events">
    {% if events_by_year %}
    {% for year, events in events_by_year | items %}
    <h3>Termine {{ year }}</h3>
    <table summary="Termine {{ year }}">
      {% for event in events %}
      <tr>
        <th>{{ event.date }}<span>{{ event.time }} Uhr</span></th>
        <td>{{ event.title }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
    {% else %}
    <h3>Termine</h3>
    <p>Momentan steht nichts an.</p>
    {% endif %}
  </div>
  {% block after_events %}{% endblock %}
{% endblock %}
