{% extends "layout.html" %}

{% block content %}
  {% block before_events %}{% endblock %}
  <div class="events">
    {% if events_by_year %}
    {% for year, events in events_by_year | items %}
    <h3>Termine {{ year }}</h3>
    <div class="table" summary="Termine {{ year }}">
      {% for event in events %}
      <div class="row">
        <div class="cell event-date">{{ event.date }}<span>{{ event.time }} Uhr</span></div>
        <div class="cell event-title">{{ event.title }}</div>
      </div>
      {% if event.description %}
      <div class="row event-description">
        {{ event.description }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <h3>Termine</h3>
    <p>Momentan steht nichts an.</p>
    {% endif %}
  </div>
  {% block after_events %}{% endblock %}
{% endblock %}
