{% extends "layout.html" %}

{% block title %}Impressum | {{ super() }}{% endblock %}

{% block content %}
  <h2>Impressum</h2>

  <h3>Adresse</h3>
  <p>
    Musik- und Kulturförderverein Luckenwalde e.V.<br />
    Markt 16<br />
    14943 Luckenwalde
  </p>

  <h3>E-Mail</h3>
  <p>
    <img class="email" src="/static/images/email.png" alt="E-Mail Adresse" />
  </p>

  <h3>Kontoverbindung für Spenden</h3>
  <p>
    Name: Musik- und Kulturförderverein Luckenwalde e.V.<br />
    IBAN: DE26 1605 0000 1000 7290 08<br />
    BIC: WELADED1PMB
  </p>
  <p>
    Bei Interesse oder Fragen zum Thema Spenden und Sponsoring schreiben Sie
    uns doch bitte eine Mail an die oben genannte Adresse.

    Für eingegangene Spenden kann, sofern gewünscht, von uns eine Quittung
    nachgereicht werden.
  </p>

  <h3>Quellcode</h3>
  <p>
    Der Quellcode dieser Seite ist offen auf <a
        href="https://github.com/musikundkultur/wohnzimmer">GitHub</a> einsehbar.
  </p>

  <h3>Nutzungsrechte</h3>
  <p>
    Alle Texte, alle Fotos, alle Gestaltungselemente dieser Website sind
    &#8211; sofern nicht ein anderes Copyright angegeben ist &#8211; für den
    Musik- und Kulturförderverein Luckenwalde e.V. urheberrechtlich geschützt.
    Jede Verwertung außerhalb der engen Grenzen des Urheberrechtsgesetzes ist
    ohne Zustimmung des Musik- und Kulturförderverein Luckenwalde e.V.
    unzulässig und strafbar. Veröffentlichungen in anderen Quellen sind nur
    nach vorheriger Genehmigung gestattet.
  </p>

  <h3>Haftungsausschluss/Rechtliche Hinweise</h3>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt. Für die
    Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernimmt der Autor
    jedoch keine Haftung.
  </p>
  <p>
    Unser Angebot enthält Links zu anderen Websites. Für die Inhalte der
    verlinkten Seiten ist der jeweilige Anbieter verantwortlich. Die Inhalte
    der Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße
    überprüft; diese lagen nicht vor. Der Autor distanziert sich hiermit
    ausdrücklich von nach der Link-Veröffentlichung geänderten Inhalten.
    Sollten Ihnen rechtswidrige Inhalte auf den verlinkten Seiten auffallen,
    bitten wir um Benachrichtigung. Wir werden diese Links nach Prüfung
    unverzüglich entfernen.
  </p>
  <p>
    Sollten ein oder mehrere Teile dieses Haftungsausschlusses auf Grund
    geltenden Rechts unwirksam sein, wird die Gültigkeit aller anderen Teile
    dadurch nicht beeinträchtigt.
  </p>

  <h3>Datenschutzhinweise</h3>
  <p>
    Beim Nutzen der Website werden keine persönlichen Daten erhoben. Es werden
    keine Cookies oder oder andere Technologien, die das persönliche
    Surfverhalten überprüfen, durch uns verwendet. Uns übermittelte Daten
    werden nicht an Dritte weitergegeben und entsprechend der technischen
    Möglichkeiten vor Missbrauch geschützt gespeichert. Bedenken Sie jedoch,
    dass persönliche Daten, die Sie unverschlüsselt per E-Mail versenden,
    generell nicht vor unbefugtem Zugriff geschützt sind.
  </p>
{% endblock %}
