{% extends "events.html" %}

{% block body_class %}index{% endblock %}

{% block before_events %}
<div class="doors">
  {%- set doors_link = config.site.links | selectattr("doors") | first %}
  {%- if doors_link %}
  <a href="{{ doors_link.href }}"{% if doors_link.blank %} target="_blank"{% endif %} title="Alhambra Luckenwalde ({{ doors_link.title }})">Reinspaziert</a>
  {%- else %}
  <a title="Alhambra Luckenwalde">Reinspaziert</a>
  {%- endif %}
</div>
{% endblock %}

{% block after_events %}
{% if events_by_year %}
<p>
  <a href="/events">Alle Termine</a>
</p>
{% endif %}
{% endblock %}
