<!DOCTYPE html>
<html lang="de-DE">
<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#c21e1d">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="msapplication-TileColor" content="#c21e1d">
  <meta name="msapplication-config" content="/static/browserconfig.xml">
  <meta name="theme-color" content="#c21e1d">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" />
  <title>
    {% block title %}Alhambra Luckenwalde | Musik- und Kulturförderverein e.V.{% endblock %}
  </title>
</head>
<body class="{% block body_class %}boxed{% endblock %}">
  {% block body %}
  <div class="container">
    <div class="header">
      <h1>
        <a href="/" rel="home">Alhambra Luckenwalde</a>
      </h1>
      <h2>Musik- und Kulturförderverein e.V.</h2>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <ul>
        <li>
          <a href="https://www.instagram.com/alhambra_luckenwalde">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/musikundkultur">Facebook</a>
        </li>
        <li>
          <a href="/impressum">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock %}
</body>
</html>
